In [1]:
import pandas as pd
from aes_class import AES
import numpy as np

In [2]:
df = pd.read_excel("soal/S1a_jawaban.xlsx")
kode = df.kode.tolist()
skor = df.skor.tolist()
jawaban = df.jawaban.tolist()
df.head()

,Unnamed: 0,Unnamed: 1,kode,skor,jawaban
0,0,20,1,5,1).a.cara kerja miconkonroler adalah ia menger...
1,1,20,1,5,a. mikrokontroler dibangun dari element dasar ...
2,2,20,1,5,a. cara kerja mikrokontroler\nsalah satu dari...
3,3,20,1,5,a. cara kerja mikrokontroler secara sederhana ...
4,4,20,0,5,a.Cara kerja mikrokontroler adalah membaca dan...

In [3]:
skor_train = list()
jawaban_train = list()

skor_test = list()
jawaban_test = list()

for index, i in enumerate(kode):
    if i==1:
        skor_train.append(skor[index])
        jawaban_train.append(jawaban[index])
    else:
        skor_test.append(skor[index])
        jawaban_test.append(jawaban[index])

In [11]:
model=  AES.AES(tf=True, qe=True)

# buat_model

In [ ]:
#latih model
model.train(jawaban_train, skor_train)
skor_prediksi  = list()
similarity = list()
#prediksi data latih
for jawaban_siswa in jawaban_test:
    print(".", end="")
    sc = model.predict(jawaban_siswa)
    skor_prediksi.append(sc)
    similarity.append(max(model.hasil_cosine_similarity))

tf
................

In [7]:
# import nltk
# nltk.download('punkt')

In [12]:
dict_={
    "skor_asli":skor_test,
    "skor_prediksi":skor_prediksi,
    "similarity":similarity
}
pd.DataFrame.from_dict(dict_)

    skor_asli  skor_prediksi  similarity
0           5              5    0.283337
1           5              5    0.272525
2          10              5    0.294435
3           5              5    0.223411
4          10             10    0.485207
5           5              5    0.355305
6          10             10    0.543682
7           5              5    0.260603
8          10             10    0.471149
9           5              5    0.356530
10          5              5    0.254448
11          5              5    0.580958
12          5              5    0.218204
13          5              5    0.282030
14          5              5    0.581819
15          5              5    0.239413
16          5              5    0.334576
17          5              5    0.365921
18         10              5    0.550096
19          5              5    0.438417
20          5              5    0.332073
21          5              5    0.341183

In [9]:
dict_={
    "skor_asli":skor_test,
    "skor_prediksi":skor_prediksi,
    "similarity":similarity
}
pd.DataFrame.from_dict(dict_)

    skor_asli  skor_prediksi  similarity
0           5              5    0.514496
1           5              5    0.406146
2          10              5    0.523879
3           5              5    0.337869
4          10             10    0.624374
5           5              5    0.552300
6          10             10    0.623013
7           5              5    0.425926
8          10             10    0.619497
9           5              5    0.381385
10          5              5    0.421857
11          5              5    0.729769
12          5              5    0.353779
13          5              5    0.340068
14          5              5    0.581378
15          5              5    0.415629
16          5              5    0.508885
17          5              5    0.575483
18         10              5    0.588348
19          5              5    0.528396
20          5              5    0.503953
21          5              5    0.570876

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(skor_test, skor_prediksi)

0.9090909090909091

model.jawaban

In [9]:
# import nltk

In [21]:
# nltk.download('punkt')