In [1]:
import pandas as pd
from aes_class import AES
import numpy as np

In [2]:
df = pd.read_excel("soal/S2a_jawaban.xlsx")
kode = df.kode.tolist()
skor = df.skor.tolist()
jawaban = df.jawaban.tolist()
df.head()

,Unnamed: 0,Unnamed: 1,kode,skor,jawaban
0,0,20.0,1,15,a. Menurut pendapat saya dalam 3 tahun kedepan...
1,1,NaN,1,10,a. dengan segala perkembangan aplikasi mobile...
2,2,NaN,1,10,a. mungkin akan ada banyak aplikasi yang memud...
3,3,NaN,1,10,a. menurut saya . perkembangan teknologi berba...
4,4,NaN,0,15,a)\tPerkembangan aplikasi berbasis mobile yang...

In [3]:
skor_train = list()
jawaban_train = list()

skor_test = list()
jawaban_test = list()

for index, i in enumerate(kode):
    if i==1:
        skor_train.append(skor[index])
        jawaban_train.append(jawaban[index])
    else:
        skor_test.append(skor[index])
        jawaban_test.append(jawaban[index])

# buat_model

In [4]:
model=  AES.AES(ngram=True)

In [7]:
#latih model
model.train(jawaban_train, skor_train)
skor_prediksi  = list()
similarity = list()
#prediksi data latih
for jawaban_siswa in jawaban_test:
    jawaban_siswa = str(jawaban_siswa)
    print(".", end="")
    sc = model.predict(jawaban_siswa)
    skor_prediksi.append(sc)
    similarity.append(max(model.hasil_cosine_similarity))

......................

In [8]:
dict_={
    "skor_asli":skor_test,
    "skor_prediksi":skor_prediksi,
    "similarity":similarity
}
pd.DataFrame.from_dict(dict_)

    skor_asli  skor_prediksi  similarity
0          15             15    0.402618
1          10             15    0.464882
2          10             10    0.326167
3          10             10    0.545685
4          15             15    0.354966
5          10             10    0.402615
6          10             10    0.225696
7          10             10    0.329128
8           0             15    0.000000
9          10             10    0.420754
10         15             10    0.286969
11         10             15    0.186189
12         15             15    0.200037
13         15             15    0.336530
14         15             15    0.171675
15         10             10    0.355477
16         15             15    0.299857
17         10             15    0.210689
18         10             10    0.397798
19         20             10    0.371183
20         10             10    0.451540
21         10             10    0.328368

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(skor_test, skor_prediksi)

0.8636363636363636

In [20]:
# import nltk

In [21]:
# nltk.download('punkt')